@import 'core/variables';
@import 'core/reset';
@import 'core/mixins';
@import 'core/animations';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';


.header{
    background-image: 
  
    font-family:'Roboto Slab'  ;
    font-size : 30px;
}

.main{
    font-family:'Roboto Slab';
    font-size: 30px;
    margin-left: 18px;
}

.titulo-1{ 
    color: #f26002;
    font-family: Roboto-Regular;
    font-size: 14px;

}